---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="メンバー"
  description="医学部医学科のメンバー以外にも、看護学科、商学部、工学部のメンバーも一緒に活動しています。"
>
  <h2>コアメンバー</h2>
  <h2>メンバー</h2>
  <h2>OB/OG</h2>
</Layout>
