---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="お問い合わせいただきありがとうございました。"
  description="通常2~3日以内にご返信いたします。しばらくお待ち下さい。"
>
  <h2>Vcanの活動について</h2>
  <p>Vcanの活動については、以下のSNSや活動報告をご覧ください。</p>
</Layout>
