---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <section>Hero</section>
    <section>About Vcan</section>
    <section>アドバイザー一覧</section>
    <section>最新の活動報告</section>
  </main>
</Layout>
